<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>
        Library HomePage
    </title>
</head>

<h1>
    Library Home Page
</h1>

<!-- Book 1 -->
<img src="https://m.media-amazon.com/images/I/81LHGt-o1QL.jpg" height=200 weight=300>
</img>
<p>
    Green Eggs and Ham - R130
</p>
<form>
    <input type="Submit" value="Buy Now">
</form>

<!-- Book 2 -->
<img src="https://m.media-amazon.com/images/I/410KouqgU4L._SY445_SX342_.jpg" height=200 weight=300>
</img>
<p>
    The Hunger Games - R180
</p>
<form>
    <input type="Submit" value="Buy Now">
</form>

<!-- Book 3 -->
<img src="https://m.media-amazon.com/images/I/41XLag+2IuL._SY445_SX342_.jpg" height=200 weight=300>
</img>
<p>
    Oxford Dictionary - R100
</p>
<form>
    <input type="Submit" value="Buy Now">
</form>

</html>